html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.contenedor {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.a, .d {
  height: 25%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.a {
  background-color: red;
}

.d {
  background-color: blue;
}

.centro {
  height: 50%;
  width: 100%;
  display: flex;
}

.b, .c {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.b {
  background-color: aqua;
}

.c {
  background-color: violet;
}