html, body{
  height: 100%;
  margin: 0;
  padding: 0;
}
.contenedor{
  height: 100%;
  width: 100%;
}
.A{
  height: 50%;
  width: 100%;
  background-color: aqua;
  display: flex;
  gap: 1rem;
align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  
}
.Estado{
  height: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 10px;
  border: 2px solid greenyellow;
  background-color: rgb(234, 0, 255);
  flex-direction: column;
}